---
import { DollarPriceSection } from "../components/DollarPriceSection";
import Layout from "../layouts/Layout.astro";

import { getDollarPrices } from "../services/dollarPrices";

const price = await getDollarPrices();
---

<Layout title="Welcome to Astro.">
  <main class="h-full flex flex-col justify-between">
    <header class="flex flex-col text-center">
      <h3 class="text-3xl font-bold">Dolar App</h3>
      <h4 class="text italic">Visualiza el valor más reciente del dólar</h4>
    </header>

    <DollarPriceSection dollarPrice={price[0]} client:load />

    <footer class="text-center align-bottom">
      <span>Desarrollado por @AlfredoPrograma &#x2615;</span>
    </footer>
  </main>
</Layout>
